<tr>
        <% if(one.zxstate) { %>
            <td class="text-green" style="width: 10px">
            <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
        <% } else { %>
            <td class="text-info" style="width: 10px">
            <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>

        <% } %>
</td>
    <td style="width: 100px"><a href="/admin/<%= one._id%>"><%= one.name %></a></td>
    <td style="width: 150px" ><%= one.subName[one.subject] %></td>
    <td style="width: 150px"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> : <%= one.phone %></td>
    <td style="width: 200px"><i class="fa fa-qq text-blue" aria-hidden="true"></i> : <%= one.qq %></td>
    <td>
        <% if(one.message.length) { %>
            <% if(one.message.length < 10) { %>
                <%= one.message %>
            <% } else { %>
                <%= one.message.slice(0, 10) %> ...
            <%}%>
        <% } else { %>
            这家伙很懒什么也没有写 ...
        <% } %>
    </td>
    <td><%= one.zxName %></td>
    <td>
        <% if(one.zxMessage.length) { %>
            <% if(one.zxMessage.length < 10) { %>
                <%= one.zxMessage %>
            <% } else { %>
                <%= one.zxMessage.slice(0, 10) %> ...
            <%}%>
        <% } else { %>
            没有备注 ...
        <% } %>
    </td>
    <td style="width: 180px"><%= moment(one.data).format('YYYY-MM-DD') %> &nbsp; <%=  moment(one.data).format('HH:MM') %></td>
</tr>
